#hero {
  padding: 60px 0;
  height: 105%;
  width: 100%;
  text-align: left;
  position: relative;
  overflow: hidden;
  > .row {
    z-index: 2;
    position: relative;
    .title {
      padding: 1rem;
      h1 {
        color: #fff;
        font-weight: 900;
        transition: 1s ease-in-out;
        font-size: 7rem;
        line-height: 1;
        &.shadow {
          text-shadow: 5px 5px 0px $copper;
        }
      }
      h3 {
        color: #fff;
        width: 500px;
        overflow: hidden;
        animation: type 4s steps(60, end);
        white-space: nowrap;
        // &::before {
        //   display: inline-block;
        //   content: "[";
        // }
        // &::after {
        //   display: inline-block;
        //   content: "]";
        // }
        @keyframes type {
          from { width: 0; }
        }
        span {
          animation: blink .9s infinite;
          @keyframes blink {
            to { opacity: 0; }
          }
        }
      }
    }
  }
  video {
    position: fixed;
    z-index: 0;
    top: 0;
    left: -35px;
  }
}// end hero

#bio {
  padding: 280px 0;
  height: auto;
  width: 100%;
  position: relative;

  background: $copper;
  background: -moz-linear-gradient(45deg, $copper 35%, $copper 36%, $copper 43%, $secondary-color 43%);
  background: -webkit-gradient(left bottom, right top, color-stop(35%, $copper), color-stop(36%, $copper), color-stop(43%, $copper), color-stop(43%, $secondary-color));
  background: -webkit-linear-gradient(45deg, $copper 35%, $copper 36%, $copper 43%, $secondary-color 43%);
  background: -o-linear-gradient(45deg, $copper 35%, $copper 36%, $copper 43%, $secondary-color 43%);
  background: -ms-linear-gradient(45deg, $copper 35%, $copper 36%, $copper 43%, $secondary-color 43%);
  background: linear-gradient(45deg, $copper 35%, $copper 36%, $copper 43%, $secondary-color 43%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$copper', endColorstr='$secondary-color', GradientType=1 );

  > .row {
    display: flex;
    align-items: flex-end;
    .column {
      text-align: center;
      vertical-align: middle;
      cursor: crosshair;
      &:hover {
        h3 {
          font-size: 2.75rem;
        }
      }
      .row.pic {
        margin: 0 auto;
        img {
          max-width: 250px;
          height: auto;
          &.color {
            display: none;
          }
        }
      }
      .row.title{
        min-height: 70px;
        h3 {
          transition: .2s ease-in-out;
        }
      }
      &.about {
        img {
          max-width: 275px;
        }
      }
      &.specialties-copy {
        display: none;
        position: absolute;
        text-align: left;
      }
      &.about-copy {
        display: none;
        position: absolute;
        text-align: left;
      }
      &.hobbies-copy {
        display: none;
        position: absolute;
        text-align: left;
      }
    }
  } //end icons and titles
}
