#hero {
  padding: 60px 0;
  height: 105%;
  width: 100%;
  text-align: left;
  position: relative;
  overflow: hidden;
  > .row {
    z-index: 2;
    position: relative;
    .title {
      padding: 1rem;
      h1 {
        color: #fff;
        font-weight: 900;
        transition: 1s ease-in-out;
        font-size: 7rem;
        line-height: 1;
        &.shadow {
          text-shadow: 5px 5px 0px $copper;
        }
      }
      h3 {
        color: #fff;
        width: 500px;
        overflow: hidden;
        animation: type 4s steps(60, end);
        white-space: nowrap;
        @keyframes type {
          from { width: 0; }
        }
        span {
          animation: blink .9s infinite;
          @keyframes blink {
            to { opacity: 0; }
          }
        }
      }
    }
  }
  video {
    position: fixed;
    z-index: 0;
    top: 0;
    left: -35px;
    min-width: 105%;
  }
  .scroll-arrow {
    position: absolute;
    bottom: 10%;
    width: 100%;
    text-align: center;
    i {
      color: $primary-color;
      position: relative;
      transition: .2s ease-in-out;
      &.bounce {
        animation: bounce .7s infinite;
        @keyframes bounce {
          0% { bottom: 0px; }
          75% { bottom: 10px; }
          100% { bottom: 0px; }
        }
      }
    }
    &:hover {
      i {
        font-size: 3.5em;
      }
    }
  }
}// end hero

#bio {
  padding: 280px 0;
  height: auto;
  width: 100%;
  position: relative;

  background: $copper;
  background: -moz-linear-gradient(45deg, $copper 35%, $copper 36%, $copper 43%, $secondary-color 43%);
  background: -webkit-gradient(left bottom, right top, color-stop(35%, $copper), color-stop(36%, $copper), color-stop(43%, $copper), color-stop(43%, $secondary-color));
  background: -webkit-linear-gradient(45deg, $copper 35%, $copper 36%, $copper 43%, $secondary-color 43%);
  background: -o-linear-gradient(45deg, $copper 35%, $copper 36%, $copper 43%, $secondary-color 43%);
  background: -ms-linear-gradient(45deg, $copper 35%, $copper 36%, $copper 43%, $secondary-color 43%);
  background: linear-gradient(45deg, $copper 35%, $copper 36%, $copper 43%, $secondary-color 43%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$copper', endColorstr='$secondary-color', GradientType=1 );

  > .row {
    display: flex;
    align-items: flex-end;
    .column {
      text-align: center;
      vertical-align: middle;
      cursor: crosshair;
      opacity: 1;
      transition: .2s ease-in-out;
      &:hover {
        h3 {
          font-size: 2.75rem;
        }
      }
      .row.pic {
        margin: 0 auto;
        img {
          max-width: 250px;
          height: auto;
          &.color {
            display: none;
          }
        }
      }
      .row.title{
        min-height: 70px;
        h3 {
          transition: .2s ease-in-out;
          font-weight: 500;
        }
      }
      &.about {
        img {
          max-width: 275px;
        }
      }
      &.specialties-copy {
        display: none;
        position: absolute;
        text-align: left;
      }
      &.about-copy {
        display: none;
        position: absolute;
        text-align: left;
      }
      &.hobbies-copy {
        display: none;
        position: absolute;
        text-align: left;
      }
    }
  } //end icons and titles
}// end #bio

#resume {
  padding: 120px 0;
  position: relative;
  background: url('../assets/sparkler-bg.jpeg');
  background-attachment: fixed;
  background-size: cover;
  background-position: top center;
  text-align: center;
  text-transform: uppercase;
  .block {
    padding: 4rem .9375rem;
    position: relative;
    background-image: repeating-radial-gradient(center center, rgba(140,140,140,.5), rgba(140,140,140,.5) 1px, transparent 1px, transparent 100%);
    background-size: 3px 3px;
    //border-radius: 50px;
    overflow: hidden;
    //box-shadow: 0px 0px 200px 70px rgba(40, 40, 40,.65);
    box-shadow: 20px 20px 0 10px $copper;
    border: 10px solid $secondary-color;
    transition: .2s ease-in-out;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    h2 a {
      position: relative;
      z-index: 2;
      transition: .2s ease-in-out;
      color: $secondary-color;
      text-shadow: 1px 1px 0px darken($secondary-color, 50);
      font-style: normal;
      font-weight: 500;
    }
    &:hover {
      box-shadow: 30px 30px 0 15px $copper;
      h2 a {
      }
      &::after {
        left: 30px;
        color: transparentize($primary-color, .6);
      }
    }
    &::after {
      position: absolute;
      content: "\f21d";
      font-size: 180px;
      font-family: fontawesome;
      color: transparentize($primary-color, .8);
      display: block;
      top: 0px;
      left: -20px;
      transition: .2s ease-in-out;
      z-index: 1;
    }
  }
}

footer {

  background: rgba(34,38,75,1);
  background: -moz-linear-gradient(-45deg, rgba(34,38,75,1) 0%, rgba(34,38,75,1) 80%, rgba(232,237,243,1) 80%, rgba(232,237,243,1) 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(34,38,75,1)), color-stop(80%, rgba(34,38,75,1)), color-stop(80%, rgba(232,237,243,1)), color-stop(100%, rgba(232,237,243,1)));
  background: -webkit-linear-gradient(-45deg, rgba(34,38,75,1) 0%, rgba(34,38,75,1) 80%, rgba(232,237,243,1) 80%, rgba(232,237,243,1) 100%);
  background: -o-linear-gradient(-45deg, rgba(34,38,75,1) 0%, rgba(34,38,75,1) 80%, rgba(232,237,243,1) 80%, rgba(232,237,243,1) 100%);
  background: -ms-linear-gradient(-45deg, rgba(34,38,75,1) 0%, rgba(34,38,75,1) 80%, rgba(232,237,243,1) 80%, rgba(232,237,243,1) 100%);
  background: linear-gradient(135deg, rgba(34,38,75,1) 0%, rgba(34,38,75,1) 80%, rgba(232,237,243,1) 80%, rgba(232,237,243,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#22264b', endColorstr='#e8edf3', GradientType=1 );

  width: 100%;
  padding: 60px 0;
  position: relative;
  color: #fff;
  > .row {
    display: flex;
    align-items: center;
    width: 100%;
    h3 {
      color: #fff;
      font-weight: 900;
      line-height: 1;
      text-shadow: 2px 2px 0px $copper;
    }
    span {
      margin:0 4px;
      .fa {
        color:$copper;
        transition: .2s ease-in-out;
      }
      &:hover {
        .fa {
          color: $secondary-color;
        }
      }
    }
  }
}
